@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Poppins', sans-serif;
}

html, body{
    min-height: 100vh;
}

body {
    font-size: 1.6rem;
    background: rgba(1,116,208,1);
    background: linear-gradient(135deg, rgba(0,161,224,1) 0%, rgba(1,116,208,1) 35%, rgba(3,46,97,1) 100%);
    color: #ffffff;
    padding: 0rem 3rem;

   
}

#header {
    position: sticky;
    top: 0;
    z-index: 1;
    
    padding: 0rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav #logo{
    padding: 3rem 4rem 2rem 1rem;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}

#nav img{
    width: 6rem;
}

#menu li {
  display: inline;  
}

#menu li a {
    padding: 2rem 1rem 0.5rem 1rem;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border-bottom: 0.3rem solid transparent;
}

#menu li a:hover {
    border-bottom: 0.3rem solid
}

#login {
    width: 15rem;
    height: 5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    background: transparent;
    transition: all .5s;
    border: 2px solid #ffffff;
    border-radius: 3rem;
}

#login:hover {
    background: #38B6FF;
}

#login a {
    display: inline-block;
    padding: 2rem 5rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.industrias_content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.industrias_content ul {
    list-style: none;
}

.industrias_content ul  h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.industrias_content li a{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 0rem 0.5rem 1rem;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 0.3rem solid transparent;
}

.industrias_content li a:hover {
    border-bottom: 0.3rem solid;
}

.industrias_content i{
    margin-left: 2rem;
    font-size: 2.5rem;
}

footer {
    margin-top: 5rem;
    padding: 0rem 5rem;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#footer_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

#footer_content img{
    width: 12.5rem;
}



.footer_list li {
    display: inline;
      
}
  
.footer_list li a {
    padding: 2rem 1rem 0.5rem 1rem;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border-bottom: 0.3rem solid transparent;
}
  
.footer_list li a:hover {
    border-bottom: 0.3rem solid
}

#footer_copyright {
    text-align: center;
    border-top: 0.1rem solid;
    padding: 1rem;
}